@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

h1, h1 *, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.custom-font {
  font-family: 'Lato', sans-serif;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

.band {
  background: #B6CBAE;
}

a {
  color: #334E32;
  text-decoration: underline;
}

@media (max-width: 679px) {
  .img-profile {
    display: block;
    max-width: 100px;
    width: 100%;
  }
}

.hire-badge {
  background: #5E3566;
  aspect-ratio: 1/1;
  border-radius: 50%;
  font-size: 0.9rem;
  color: #fff;
  padding: 0.5rem 0.7rem;
  font-weight: 600;
  display: inline-flex;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  transform: rotate(-15deg);
  transition: all 0.3s ease-in-out;
  position: absolute;
  bottom: -1.2rem;
  right: -0.5rem;
  z-index: 1;
}

.hire-badge:hover {
  text-decoration: underline;
  background-color: #462a4b;
  transform: rotate(0);
}